blockquote {
    border-right: 3px solid rgb(107, 63, 190);
    border-bottom: 2px solid rgb(107, 63, 190);
    padding: 10px;
}
@media screen and (max-width: 500px) {
    blockquote {
      display: block;
      max-height: 250px;
      max-width: 400px;
    }
}