.btn {
  &-default {
    color: #C1C8C4;
    background-color: rgb(87, 221, 255);
    border-radius: 5px;
    padding: 6px 20px;
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      color: #C1C8C4;
      background-color: rgb(87, 221, 255);
      box-shadow: -1px 1px 3px 2px #8860D0;
      font-weight: bold;
    }
  }
  &-small {
    border-radius: 20px;
    padding: 2px 8px;
    font-weight: normal;
    font-size: 12px;
    &:hover {
      text-decoration: none;
    }
  }
  &-medium {
    border-radius: 20px;
    padding: 6px 15px;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
  &-large {
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 21px;
    font-weight: normal;
    &:hover {
      padding: 2%;
    }
  }
}
