.btn {
  &-default {
    color: rgb(253, 253, 253);
    background-color: rgb(119, 212, 235);
    border-radius: 5px;
    padding: 6px 15px;
    padding-left: 20px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 7px;
    font-size: 19px;
    text-align: center;
    &:hover {
      text-decoration: none;
      box-shadow: -1px 1px 3px 2px rgb(107, 63, 190);
    }
  }
  &-small {
    padding: 2px 8px;
    font-weight: normal;
    font-size: 12px;
    &:hover {
      text-decoration: none;
    }
  }
  &-medium {
    padding: 4px 12px;
    padding-right: 10px;
    font-weight: normal;
    &:hover {
      text-decoration: none;
      color:rgb(107, 63, 190);
    }
  }
  &-large {
    font-size: 25px;
    padding: 10px 21px;
    font-weight: normal;
    &:hover {
      padding: 2%;
    }
  }
}
