.outside {
  border: 3px solid rgb(107, 63, 190);
  padding: 30px 80px;
  display: inline-block;
}
.client {
  text-align: left;
}
.comment {
  text-align: left;
  margin-top: 2px;
}
input {
  border: 2px solid rgb(107, 63, 190);
  outline: none;
  &:focus {
    border: 4px dashed rgb(107, 63, 190);
  }
  &.pwd {
    margin-top: 2px;
    margin-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
  }
  &.name {
    padding-left: 75px;
    padding-right: 75px;
  }
}
