.grid {
    &-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding: 3px;
    }
    &-left {
        grid-column: 1 / span 6;
        padding: 3px;
    }
    &-right {
        grid-column: 7 / span 6;
        padding: 3px;
    }
    &-container {
        padding: 15px;
        padding-top: 40px;
    }
}  