@import 'buttons.scss';
@import 'card.scss';
@import 'nav.scss';
@import 'form.scss';
@import 'footer.scss';
@import 'grid.scss';
@import 'header.scss';
@import 'blockquote.scss';
@import 'codetext.scss';

* {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    color: #C1C8C4;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    background-image: url(../img/darkstarbg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    padding: 10px;
    overflow: auto;
}