@import 'buttons.scss';
@import 'https://fonts.googleapis.com/css?family=Alice|Nunito&display=swap';
@import 'card.scss';
@import 'nav.scss';
@import 'form.scss';
@import 'footer.scss';
@import 'grid.scss';
@import 'header.scss';
@import 'blockquote.scss';
@import 'codetext.scss';

* {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
.content {
    margin-top: 40px;
    overflow: auto;
    padding: 10px;
}