.foot {
    color: white;
    background-color: rgb(82, 124, 86);
    min-height: 10px;
    overflow: hidden;
}
p.footie {
    text-align: center;
}
a.left {
    text-decoration: none;
    color: white;
    float: left;
}
a.right {
    text-decoration: none;
    color: white;
    float: right;
}