@import url("buttons.css");
@import url("https://fonts.googleapis.com/css?family=Artifika|Oxygen");
@import url("card.css");
@import url("nav.css");
@import url("form.css");
@import url("footer.css");
@import url("grid.css");
@import url("header.css");
@import url("blockquote.css");
@import url("codetext.css");

* {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}
.content {
    margin-top: 40px;
    overflow: auto;
    padding: 10px;
}