.btn-default {
  color: #fdfdfd;
  background-color: #77d4eb;
  border-radius: 5px;
  padding: 6px 15px;
  padding-left: 20px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 7px;
  font-size: 19px;
  text-align: center;
}

.btn-default:hover {
  text-decoration: none;
  -webkit-box-shadow: -1px 1px 3px 2px #6b3fbe;
          box-shadow: -1px 1px 3px 2px #6b3fbe;
}

.btn-small {
  padding: 2px 8px;
  font-weight: normal;
  font-size: 12px;
}

.btn-small:hover {
  text-decoration: none;
}

.btn-medium {
  padding: 4px 12px;
  padding-right: 10px;
  font-weight: normal;
}

.btn-medium:hover {
  text-decoration: none;
  color: #6b3fbe;
}

.btn-large {
  font-size: 25px;
  padding: 10px 21px;
  font-weight: normal;
}

.btn-large:hover {
  padding: 2%;
}

.card {
  height: 250px;
  width: auto;
  color: #fdfdfd;
  background-size: cover;
  border: 1px solid #dadada;
  text-align: center;
  border-radius: 10px;
}

.card-category {
  font-size: 18px;
}

.card-description {
  font-size: 14px;
  margin: 25px;
  margin-bottom: 14px;
  margin-top: -10px;
}

.card-description p.amethyst {
  background-color: rgba(30, 11, 50, 0.4);
  border-radius: 10px;
  padding: 5px 30px;
}

.card-description p.iron {
  background-color: rgba(30, 11, 50, 0.4);
  border-radius: 10px;
  padding: 5px 30px;
}

.card-description p.basalt {
  background-color: rgba(30, 11, 50, 0.4);
  border-radius: 10px;
  padding: 5px 30px;
}

.card-description p.quartz {
  background-color: rgba(30, 11, 50, 0.4);
  border-radius: 10px;
  padding: 5px 30px;
}

.card a.btn-default {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.defaultstone {
  background-image: url(../img/amethyst.jpg);
}

.mercurystone {
  background-image: url(../img/iron.png);
}

.venusstone {
  background-image: url(../img/basalt.jpg);
}

.earthstone {
  background-image: url(../img/quartz.jpg);
}

.nav {
  background-color: #5AB9EA;
  overflow: hidden;
  text-align: center;
  border-bottom: 2px solid #8860D0;
  padding: 15px 15px;
  margin: 0;
  position: fixed;
  width: 100vw;
}

.nav a {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 10px 13px;
  font-size: 15px;
  color: white;
}

.nav a:hover {
  background-color: #6b3fbe;
  padding: 13px 13px;
}

.nav a.logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav a img {
  width: 50px;
  margin: -13px;
  margin-bottom: -18px;
}

.nav a img:hover {
  background-color: #5AB9EA;
}

@media screen and (max-width: 500px) {
  .nav {
    float: none;
    display: block;
    text-align: left;
  }
}

.outside {
  border: 3px solid #6b3fbe;
  padding: 30px 80px;
  display: inline-block;
}

.client {
  text-align: left;
}

.comment {
  text-align: left;
}

input {
  border: 2px solid #6b3fbe;
  outline: none;
}

input:focus {
  border: 4px dashed #6b3fbe;
}

input.pwd {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

input.name {
  padding-left: 75px;
  padding-right: 75px;
}

.foot {
  color: white;
  background: #5682e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#5682e9), to(#1d0a31));
  background: linear-gradient(to bottom, #5682e9, #1d0a31);
  text-align: center;
  padding: 1px;
}

.foot .sun {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 160px;
  width: auto;
}

.foot .mercury {
  margin-top: -15px;
  margin-bottom: -10px;
  height: 60px;
  width: auto;
}

.foot .venus {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 80px;
  width: auto;
}

.foot .earth {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 100px;
  width: auto;
}

.foot .mars {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 100px;
  width: auto;
}

.foot .jupiter {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 140px;
  width: auto;
}

.foot .saturn {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 150px;
  width: auto;
}

.foot .uranus {
  margin-top: -15px;
  margin-bottom: -10px;
  height: 120px;
  width: auto;
}

.foot .neptune {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 115px;
  width: auto;
}

.grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 3px;
}

.grid-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  padding: 3px;
}

.grid-right {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
  padding: 3px;
  text-align: center;
}

.grid-all {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  padding: 3px;
  text-align: center;
}

.grid-container {
  padding: 15px;
  padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fdfdfd;
  font-family: 'Alice', serif;
  font-weight: lighter;
  letter-spacing: 1.4px;
}

blockquote {
  border-right: 3px solid #6b3fbe;
  border-bottom: 2px solid #6b3fbe;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  blockquote {
    display: block;
    max-height: 250px;
    max-width: 400px;
  }
}

code {
  color: #141427;
  background-color: #5c5c64;
}

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #C1C8C4;
  font-family: 'Nunito', sans-serif;
  font-weight: initial;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background-image: url(../img/darkstarbg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.tagline {
  margin-top: -18px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */